.uploadIcon {
  font-size: 50px;
  color: #f0f0f0;
  cursor: crosshair;
    padding-right: 10px !important;
}

.desktop-class {
  /* Keep the font size the same for desktop */
  font-size: 1em;
}

.mobile-class {
  /* Increase the font size for mobile */
  font-size: 1.5em;
}