<aside class="col-1"  style="background-color: black;">
    <div class="bg-black d-flex flex-column align-items-center py-3 bordered">
        <img th:src="@{/media/logo.jpg}" class="mb-4" style="width: 110px; height: 70px;" alt="">
        <br>
        <a th:href="@{/myCourses}" class="mb-4">
            <i class="bi bi-mortarboard-fill mb-4 fs-2"></i>
        </a>
        <a href="#" class="mb-4">
            <i class="bi bi-calendar-check mb-4 fs-2"></i>
        </a>
        <a href="#" class="mb-4">
            <i class="bi bi-calendar-event-fill mb-4 fs-2"></i>
        </a>
        <a href="#" class="mb-4">
            <i class="bi bi-lightbulb-fill mb-4 fs-2"></i>
        </a>
        <a href="#" class="mb-4">
            <i class="bi bi-chat-left-text mb-4 fs-2"></i>
        </a>
        <br><br>
        <img th:src="@{/media/profile.jpeg}" class="img-circle" alt="profile photo">
        <br><br>
    </div>
</aside>